body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f3f6ff;
}

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../assets/misc/spinner.gif") center no-repeat #fff;
}

.bg {
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/hero_img.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav-link,
.navbar-brand {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.jumbotron {
  background-color: transparent;
}

.btn-rounded {
  margin-top: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 15px;
  border-radius: 30px;
}

@media (hover: hover) {
  .btn-rounded:hover {
    background-color: #fff;
    color: black;
    transition: 800ms;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px !important;
  }
}

.btn-scroll-down {
  cursor: pointer;
  width: 50px;
  height: 50px;
  animation: bounce 2s infinite;
}

#section2 {
  background-color: #f3f6ff;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.section-container {
  background-color: #f3f6ff;
}

.simple-text {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 40px;
}

.simple-text-list {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  text-align: left;
  line-height: 30px;
}
