.circle {
  font-family: "Montserrat";
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #b3ed8d;
  color: #4d4545;
  max-height: 50px;
  width: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #cbed8d;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.process div {
  padding: 0;
  height: 40px;
}
.process hr {
  border-top: 3px solid #cbed8d;
  margin: 0;
  top: 17px;
  position: relative;
}
.process .col-2 {
  display: flex;
  overflow: hidden;
}
.process .corner {
  border: 3px solid #cbed8d;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.process .top-right {
  left: 50%;
  top: -50%;
}
.process .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.process .top-left {
  left: -50%;
  top: -50%;
}
.process .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
