.card-flip > div {
  backface-visibility: hidden;
  transition: transform 400ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card,
.card-back,
.card-front {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
}

.divider-1 {
  padding: 10px 0 30px 0;
}
.divider-1 .line {
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}
